/*
Color Scheme
Primary color: #F28705
Secondary Colors:  #F2B705, #514873 
Accent Colors: #D92B04, #F25C05
*/

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/*  --------------- Utility Classes -----------------  */

.container{
    width:80vw; 
max-width:960px;
margin:40px auto;
}

.img-right{
  float:right;
  border:1px solid #000000;
  padding:2px;
  margin:10px 0 10px 20px;
}

.img-left{
  float:left;
  border:1px solid #000000;
  padding:2px;
  margin:10px 20px 10px 0px;
}

.img-center{
  display:block;
  border:1px solid #000000;
  padding:2px;
  margin:20px auto;
}

/*  --------------- Responsive Images -----------------  */
img{
    max-width:100%;
}

/*  --------------- Tables ------------------------  */

table {
  width:100%;
  border:1px solid #000000;
  border-collapse:collapse;
}

table caption{
  font-weight:bold;
  margin:20px;
}

table tr:nth-child(2n){
  background-color:rgba(0,0,0,0.1)
}

table tr:hover{
  background-color:rgba(0,0,0,0.2)
}
table th{
background-color:#F2B705;
padding: 10px;
}

table td{
   border:1px solid #000000;
   padding: 5px;
   text-align:right;
  }
  table td:first-of-type{
    text-align:left;
  }

/*  --------------- Lists ------------------------  */

ol{
  list-style-type:"\1F44D";
}

li{
}

ul ul{
  list-style-type:square;
}

dl{}

dt{
  font-weight:bold;
  margin-top:20px;
}
dd{
margin:0;
}

dd+dt{
  margin-top:20px;
}

  /*  --------------- Global Styles -----------------  */

body {
    font-family: 'Roboto', sans-serif;
    margin:0;
}

header.primary{
    background-color: #F28705;
    text-align: center;
    color: #ffffff;
    padding:40px;
    text-shadow: 1px 1px #000000;
}
header.primary h1{
font-size: 2.4rem;
}

header.primary img{
    display: flex;
    max-width:125px;
    max-height: auto;
}

header.primary h1 a{
    color:#514873;
    text-decoration: none;
}

header.primary h2{
font-size: 1.4rem;
}

header.primary nav{
    max-width:960px;
    margin: 20px auto;

}

header.primary nav ul{
    padding:0;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header.primary nav ul li{
    list-style-type:none;
}

header.primary nav ul li a{
    color: #F2B705;
    text-decoration: none;
    background-color:rgba(0,0,0,.4);
    padding:8px 16px;
    border-radius:20px;
    border: ridge;
    border-color:#F2B705;
    transition: 0.5s;
}

header.primary nav ul li a:hover, 
header.primary nav ul li a:active{
    background-color: rgba(0,0,0,0.8)
}

#intro{
    border-bottom:1px solid #000000;
    padding-bottom: 14px;
}

#intro h2{
color: #F25C05;
border-bottom:1px solid #000000;
}

#content{
    display:flex;
    justify-content: space-between;
    flex-direction:row;
    gap:20px;
    border-bottom: 1px solid #000000;
    padding-bottom:2.6rem;
}

#content article.post {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 4px;
    font-size: 0.8rem;
    transition: 0.5s;
  }
  
  #content article.post:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }

  article.post figure{
    margin:0;
  }

  time.post-date,
  figcaption,
  .post-meta{
    text-transform: uppercase;
    color: #D92B04;
  }

  .post figure img{
border: 1px solid #514873;
padding:2px;
  }

  article.post a{
  color:#514873;
  }

  article.post a:hover{
    text-decoration:none;
    }

#practice h2{
color: #F25C05;
border-bottom: 1px solid #000000;
}


    aside[role="complementary"]{
        background-color:#F28705;
        color:#ffffff;
        padding:1.9rem;
      }

      aside .container{
        display:flex;
        gap:40px;
        flex-direction:row;
      }

      aside .widget a{
        display:block;
        text-align:right;
        padding-top:20px;
        color:white;
      }

      aside .widget footer{
        display:none;
      }

      #colophon {
        background-color: #D92B04;
      }
      
      #colophon h6 {
        padding: 20px;
        margin: 0;
        text-align: center;
        color: #ffffff;
        font-size: 0.9rem;
      }
      
  /*  --------------- Media Queries -----------------  */
@media screen and (max-width:600px){
    header.primary nav ul{
        flex-direction: column;
        max-width:250px;
        margin: auto;
    }
    header.primary nav a{
        display: block;
    }
    header.primary nav li{
        margin-bottom:10px;
    }
}